* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
*::selection {
  background: #AE9CE6;
  color: #FFFFFF;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #FFFFFF;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background-color: #7e61d7;
  border-radius: 50px;
}

.body {
  background-color: #FFFFFF;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

p {
  margin-bottom: 0rem;
}

ul {
  padding: 0rem;
}

.padding-section {
  padding: 0rem 0rem 5rem 0rem;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.section-cards {
  background: linear-gradient(rgba(255, 255, 255, 0.898), rgba(255, 255, 255, 0.898)), url("https://images.rawpixel.com/image_social_square/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjMzMC10YW5nLTY1LWFuaW1hbHBhdHRlcm5fMi5qcGc.jpg?s=P2K97TPNsuCIyGSyw6-xBAjUTGLVE32dGj5HE25z6RQ");
  background-size: cover;
  background-repeat: no-repeat;
}

.card {
  position: static;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 1.2px;
  border: none;
}
.card:hover {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.card .container-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(159, 159, 159, 0.3);
}
.card .container-img .card-img {
  padding: 0.5rem;
}
.card .card-info {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}
.card .card-info .card-info-p {
  padding: 0.5rem 0rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
.card .card-info .card-info-p .info-n {
  font-family: "Poppins", sans-serif;
  color: #D9BCF9;
  font-size: 0.938rem;
  font-weight: 400;
}
.card .card-info .card-info-p .info-p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.938rem;
  font-weight: 500;
  color: #141314;
}
.card .card-info .card-info-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0.5rem 0rem;
}
.card .card-info .card-info-buttons .card-icon {
  display: flex;
  align-items: flex-end;
}
.card .card-info .card-info-buttons .card-icon:hover {
  color: #d9bcf9;
  transition: all 0.2s ease-in-out;
}
.card .card-info .card-info-buttons .caja-bag {
  width: 2.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: rgb(27, 27, 27);
  border-radius: 50%;
}
.card .card-info .card-info-buttons .caja-bag:hover {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: #d9bcf9;
}
.card .card-info .card-info-buttons .caja-bag .img-bag {
  width: 100%;
}

.owl-dot span {
  background-color: #EFE2FC !important;
}

.owl-prev span, .owl-next span {
  color: #141314 !important;
  padding: 0.5rem 1rem;
  background-color: #7e61d7 !important;
  border-radius: 5px;
}

.owl-prev:hover span, .owl-next:hover span {
  background-color: #EFE2FC !important;
}

.active span {
  background-color: #7e61d7 !important;
}

body .link-wpp {
  color: #7e61d7;
}
body .link-wpp .wpp {
  width: 2.5rem;
  height: 2.5rem;
  position: fixed;
  bottom: 0.938rem;
  right: 0.938rem;
}
body .link-wpp .wpp:hover {
  color: #AE9CE6;
  cursor: pointer;
  animation-name: chat;
  animation-timing-function: ease;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes chat {
  0% {
    transform: translatey(0rem);
  }
  100% {
    transform: translatey(-1rem);
  }
}

header {
  position: static;
  z-index: 0;
  top: 0;
  width: 100%;
}
header .cartel-envio {
  width: 100%;
  background-color: rgb(27, 27, 27);
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #FFFFFF;
}
header .cartel-envio .cartel-p {
  font-size: 0.625rem;
}
header .navbar {
  display: flex;
  justify-content: end;
  background-color: #d9bcf9;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
header .navbar div .link-logo {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
header .navbar div .link-logo .logo {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
header .navbar .navbar-toggler {
  color: transparent;
  background-color: transparent;
  border-color: transparent;
}
header .navbar .navbar-toggler:hover {
  color: #d9bcf9;
  transition: all 0.2s ease-in-out;
}
header .navbar .offcanvas-header {
  background-color: #d9bcf9;
}
header .navbar .offcanvas-body {
  background-color: #d9bcf9;
}
header .navbar .offcanvas-body .navbar-nav {
  font-family: "Poppins", sans-serif;
}
header .navbar .offcanvas-body .navbar-nav .nav-item {
  color: #000;
}
header .navbar .offcanvas-body .navbar-nav .nav-item .nav-link dropdown-toggle .dropdown-menu {
  border-color: #000;
}

.heroSection .caja-home {
  width: 100%;
}
.heroSection .caja-home .caja-home-link {
  display: block;
}
.heroSection .caja-home .caja-home-link .home-link-img {
  width: 100%;
}

.container-info {
  max-width: 980px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid rgba(159, 159, 159, 0.3);
  padding: 5rem 0rem;
}
.container-info .caja-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: 20%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 1rem 1.5rem;
}
.container-info .caja-info .icon-info {
  width: 2rem;
  height: 2rem;
  color: #7e61d7;
}
.container-info .caja-info .texto-info {
  font-size: 0.75rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.cardss .cardd {
  background-color: #FFFFFF;
  transform-style: preserve-3d;
  will-change: transform;
  transition: transform 0.5s;
}
.cardss .cardd:hover {
  transform: translateZ(10px) rotateX(20deg) rotateY(30deg);
}
.cardss .cardd:hover .card-title {
  transform: translateZ(50px);
}
.cardss .cardd .card-title {
  transition: transform 0.5s;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  padding: 7rem 0rem 3rem 0rem;
}
.title .title-text {
  font-family: "Poppins", sans-serif;
  color: #141314;
  font-size: 1.875rem;
  font-weight: 500;
  text-align: center;
}

.contenedor-cards {
  width: 100%;
  max-width: 1080px;
  margin: auto;
  padding: 0rem 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 7rem;
  column-gap: 1rem;
}
.contenedor-cards .card {
  position: static;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 1.2px;
  border: none;
  border-radius: 0.25rem;
}
.contenedor-cards .card:hover {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.contenedor-cards .card .container-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-bottom: 1px solid rgba(159, 159, 159, 0.3);
}
.contenedor-cards .card .container-img .card-img {
  padding: 0.5rem;
}
.contenedor-cards .card .card-info {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}
.contenedor-cards .card .card-info .card-info-p {
  padding: 0.5rem 0rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
.contenedor-cards .card .card-info .card-info-p .info-n {
  font-family: "Poppins", sans-serif;
  color: #D9BCF9;
  font-size: 0.938rem;
  font-weight: 400;
}
.contenedor-cards .card .card-info .card-info-p .info-p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.938rem;
  font-weight: 500;
  color: #141314;
}
.contenedor-cards .card .card-info .card-info-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0.5rem 0rem;
}
.contenedor-cards .card .card-info .card-info-buttons .card-icon {
  display: flex;
  align-items: flex-end;
}
.contenedor-cards .card .card-info .card-info-buttons .card-icon:hover {
  color: #7e61d7;
  transition: all 0.2s ease-in-out;
}
.contenedor-cards .card .card-info .card-info-buttons .caja-bag {
  width: 2.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: rgb(27, 27, 27);
  border-radius: 50%;
}
.contenedor-cards .card .card-info .card-info-buttons .caja-bag:hover {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: #d9bcf9;
  background-color: #7e61d7;
  transition: all 0.2s ease-in-out;
  padding: 0.5rem;
}

main {
  width: 100%;
}
main section .title-producto {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
}
main section .title-producto .title-text {
  font-family: "Poppins", sans-serif;
  color: #141314;
  font-size: 1.875rem;
  font-weight: 400;
  text-align: center;
}
main section .container-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main section .container-cards .container-title {
  padding-top: 1rem;
  padding-bottom: 2rem;
}
main section .container-cards .container-title .title-categoria {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.875rem;
}
main section .container-cards .caja-cards {
  width: 100%;
  max-width: 1080px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 0rem 2rem;
  padding-bottom: 8rem;
  row-gap: 7rem;
  column-gap: 1rem;
  margin: auto;
}
main section .container-cards .caja-cards .cards {
  position: static;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 1.2px;
  border: none;
  background-color: #fff;
  border-radius: 0.25rem;
}
main section .container-cards .caja-cards .cards:hover {
  box-shadow: rgba(36, 36, 36, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
main section .container-cards .caja-cards .cards .container-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-bottom: 1px solid rgba(159, 159, 159, 0.3);
}
main section .container-cards .caja-cards .cards .container-img .card-img {
  padding: 0.5rem;
}
main section .container-cards .caja-cards .cards .container-img .caja-bag {
  width: 2.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #d9bcf9;
  border-radius: 1rem;
}
main section .container-cards .caja-cards .cards .container-img .caja-bag:hover {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: #d9bcf9;
  background-color: #7e61d7;
  padding: 0.5rem;
}
main section .container-cards .caja-cards .cards .container-img .caja-bag .img-bag {
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1.5rem;
}
main section .container-cards .caja-cards .cards .card-info {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}
main section .container-cards .caja-cards .cards .card-info .card-info-p {
  padding: 0.5rem 0rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
main section .container-cards .caja-cards .cards .card-info .card-info-p .info-n {
  font-family: "Poppins", sans-serif;
  color: #D9BCF9;
  font-size: 0.938rem;
  font-weight: 400;
}
main section .container-cards .caja-cards .cards .card-info .card-info-p .info-p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.938rem;
  font-weight: 500;
  color: #141314;
}
main section .container-cards .caja-cards .cards .card-info .card-info-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0.5rem 0rem;
}
main section .container-cards .caja-cards .cards .card-info .card-info-buttons .card-icon {
  display: flex;
  align-items: flex-end;
}
main section .container-cards .caja-cards .cards .card-info .card-info-buttons .card-icon:hover {
  color: #7e61d7;
  transition: all 0.2s ease-in-out;
}
main section .container-cards .caja-cards .cards .card-info .card-info-buttons .caja-bag {
  width: 2.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: rgb(27, 27, 27);
  border-radius: 50%;
}
main section .container-cards .caja-cards .cards .card-info .card-info-buttons .caja-bag:hover {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: #7e61d7;
}
main section .container-cards .caja-cards .caja-ver-mas {
  background-color: #141314;
  width: 6rem;
  padding: 0.5rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
main section .container-cards .caja-cards .caja-ver-mas:hover {
  background-color: #d9bcf9;
}
main section .container-cards .caja-cards .caja-ver-mas .enlace-ver-mas {
  text-decoration: none;
}
main section .container-cards .caja-cards .caja-ver-mas .enlace-ver-mas .p-ver-mas {
  text-align: center;
  color: #FFFFFF;
}
main section .container-cards .caja-cards .caja-ver-mas .enlace-ver-mas .p-ver-mas:hover {
  color: #141314;
}

.p-more {
  padding-top: 7rem;
}

.container-info {
  max-width: 980px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid rgba(159, 159, 159, 0.3);
  padding: 5rem 0rem;
}
.container-info .caja-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: 20%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 1rem 1.5rem;
}
.container-info .caja-info .icon-info {
  width: 2rem;
  height: 2rem;
  color: #7e61d7;
}
.container-info .caja-info .texto-info {
  font-size: 0.75rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.container-ig {
  width: 100%;
  background-color: #141314;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.container-ig .caja-ig .link-footer {
  text-decoration: none;
  display: flex;
  color: #fff;
}
.container-ig .caja-ig .link-footer .icon-ig {
  padding-right: 1rem;
  color: #FFFFFF;
}
.container-ig .caja-ig .link-footer:hover .icon-ig {
  transition: all 0.2s ease-in-out;
  color: #D9BCF9;
}
.container-ig .caja-ig .link-footer:hover .texto-ig {
  transition: all 0.2s ease-in-out;
  color: #D9BCF9;
}
.container-ig .caja-ig .link-footer .texto-ig {
  font-family: "Open Sans", sans-serif;
  color: #FFFFFF;
  font-size: 1.25rem;
  margin-top: 0.2rem;
}
.container-ig .boton-seguinos {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-ig .boton-seguinos .link-footer {
  text-decoration: none;
  border-radius: 2rem;
  display: inline-block;
  background-color: #FFFFFF;
  padding: 0.5rem 2rem;
  transition: all 0.2s ease-in-out;
}
.container-ig .boton-seguinos .link-footer:hover {
  background-color: #AE9CE6;
  color: #FFFFFF;
}
.container-ig .boton-seguinos .link-footer .text-boton {
  border-radius: 15%;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
}
.container-ig .caja-texto .comunidadTexto {
  color: #fff;
  text-align: center;
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
}

.container-nav-footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 0px;
  padding-bottom: 2rem;
  padding-top: 2rem;
  background-color: #d9bcf9;
}
.container-nav-footer .caja-tienda {
  justify-content: center;
  align-items: center;
}
.container-nav-footer .caja-tienda .title-nav {
  font-family: "Poppins", sans-serif;
  text-align: start;
  margin-bottom: 1rem;
  font-size: 1.125rem;
}
.container-nav-footer .caja-tienda .contenedor-nav-footer {
  list-style-type: none;
}
.container-nav-footer .caja-tienda .contenedor-nav-footer .caja-nav .link-footer {
  color: #141314;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-size: 0.75rem;
}
.container-nav-footer .caja-tienda .contenedor-nav-footer .caja-nav .link-footer:hover {
  color: #EFE2FC;
}
.container-nav-footer .caja-empresa {
  justify-content: center;
  align-items: center;
}
.container-nav-footer .caja-empresa .title-nav {
  font-family: "Poppins", sans-serif;
  text-align: start;
  margin-bottom: 1rem;
  font-size: 1.125rem;
}
.container-nav-footer .caja-empresa .contenedor-nav-footer {
  list-style-type: none;
}
.container-nav-footer .caja-empresa .contenedor-nav-footer .caja-nav .link-footer {
  color: #141314;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-size: 0.75rem;
}
.container-nav-footer .caja-empresa .contenedor-nav-footer .caja-nav .link-footer:hover {
  color: #EFE2FC;
}
.container-nav-footer .caja-redes {
  justify-content: center;
  align-items: center;
}
.container-nav-footer .caja-redes .title-nav {
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.125rem;
}
.container-nav-footer .caja-redes .contenedor-nav-footer {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  padding: 0rem;
}
.container-nav-footer .caja-redes .contenedor-nav-footer .caja-nav .link-footer {
  text-decoration: none;
  color: rgb(27, 27, 27);
  width: 35px;
  height: 35px;
}
.container-nav-footer .caja-redes .contenedor-nav-footer .caja-nav .link-footer .img-footer {
  height: 1.5rem;
  width: 1.5rem;
  color: rgb(27, 27, 27);
  transition: all 0.2s ease-in-out;
}
.container-nav-footer .caja-redes .contenedor-nav-footer .caja-nav .link-footer .img-footer:hover {
  color: #EFE2FC;
}

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #d9bcf9;
  padding: 1.5rem;
  column-gap: 0rem;
  height: auto;
  max-height: fit-content;
  letter-spacing: 2px;
}
.copyright .copyright-info {
  font-size: 0.625rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
  background: linear-gradient(120deg, #68409B 19%, transparent 19%, transparent 20%, #1b1b1b 20%, #1b1b1b 39%, transparent 39%, transparent 40%, #9763D9 40%, #9763D9 59%, transparent 59%, transparent 60%, #1b1b1b 60%, #1b1b1b 79%, transparent 79%, transparent 80%, #68409B 80%, #68409B 99%, transparent 99%, transparent 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.copyright .copyright-icon {
  color: #68409B;
}

.cuidados {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  row-gap: 6rem;
}
.cuidados .title {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  column-gap: 5%;
}
.cuidados .title .title__info {
  width: 35%;
  color: rgb(27, 27, 27);
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-align: center;
  padding-top: 3rem;
}
.cuidados .title .title__img {
  width: 60%;
  max-width: 144px;
  height: auto;
  display: block;
}
.cuidados .faq {
  width: 100%;
  max-width: 980px;
  margin: auto;
  padding: 1.875rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  row-gap: 1rem;
  background-color: #F8F9FA;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.cuidados .faq .faq-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.cuidados .faq .faq-title .faq-title__info {
  color: rgb(27, 27, 27);
  font-size: 1.875rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.cuidados .faq .faq-parrafo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.cuidados .faq .faq-parrafo ul {
  padding-left: 2rem;
}
.cuidados .faq .faq-parrafo ul li {
  padding-bottom: 1rem;
  list-style-type: circle;
}
.cuidados .faq .faq-parrafo ul li .faq-parrafo__info {
  color: rgb(27, 27, 27);
  font-size: 0.938rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.contenedor-cards .card .out-stock {
  position: relative;
}
.contenedor-cards .card .out-stock::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  opacity: 0.5;
  filter: alpha(opacity=50);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.contenedor-cards .card .out-stock::after {
  content: "Sin stock";
  position: absolute;
  display: block;
  bottom: 30px;
  left: 7.6px;
  background-color: #7e61d7;
  padding: 0.2rem 1rem;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
  color: #fff;
  font-size: 0.75rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.contenedor-cards .card .card-info .card-info-p .out-stock__price {
  opacity: 0;
}

.container-cards .caja-cards .cards .out-stock {
  position: relative;
}
.container-cards .caja-cards .cards .out-stock::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  opacity: 0.5;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.container-cards .caja-cards .cards .out-stock::after {
  content: "Sin stock";
  position: absolute;
  display: block;
  bottom: 30px;
  left: 7.6px;
  background-color: #7e61d7;
  padding: 1rem 2rem;
  color: #fff;
  font-size: 0.938rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.container-cards .caja-cards .cards .card-info .card-info-p .out-stock__price {
  opacity: 0;
}
.container-cards .caja-cards .cards .card-info .card-info-buttons .caja-bag:hover {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: #7e61d7;
  transition: all 0.2s ease-in-out;
  padding: 0.5rem;
}
.container-cards .caja-cards .cards .card-info .card-info-buttons .caja-bag:hover .img-bag {
  color: #d9bcf9;
}

.owl-carousel .item .card .out-stock {
  position: relative;
}
.owl-carousel .item .card .out-stock::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  opacity: 0.5;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.owl-carousel .item .card .out-stock::after {
  content: "Sin stock";
  position: absolute;
  display: block;
  bottom: 30px;
  left: 7.6px;
  background-color: #7e61d7;
  padding: 1rem 2rem;
  color: #fff;
  font-size: 0.938rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.owl-carousel .item .card .card-info .card-info-p .out-stock__price {
  opacity: 0;
}
.owl-carousel .item .card .card-info .card-info-buttons .caja-bag:hover {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: #d9bcf9;
  background-color: #7e61d7;
  transition: all 0.2s ease-in-out;
  padding: 0.5rem;
}

@media (max-width: 768px) {
  .contenedor-cards {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .caja-cards {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .cuidados .title .title__info {
    font-size: 2.5rem;
  }
  .cuidados .title .title__img {
    width: 128px;
  }
  .cuidados .faq .faq-title .faq-title__info {
    font-size: 1.25rem;
    font-weight: 500;
  }
  .cuidados .faq .faq-parrafo ul li .faq-parrafo__info {
    font-size: 0.75rem;
  }

  .container-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem;
  }
  .container-info .caja-info {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .beneficios {
    display: none;
  }

  .heroSection {
    padding-top: 4rem;
    display: none;
  }

  .cuidados .title .title__info {
    width: 100%;
  }
  .cuidados .title .title__img {
    display: none;
  }

  .contenedor-cards {
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .caja-cards {
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .link-wpp .wpp {
    display: none;
  }

  .container-ig .caja-texto .comunidadTexto {
    font-size: 0.938rem;
    display: none;
  }

  .container-info {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1rem;
  }

  footer section .container-nav-footer {
    flex-direction: column;
    row-gap: 2rem;
  }
  footer section .container-nav-footer .caja-tienda {
    border-top: 1px solid rgba(159, 159, 159, 0.3);
    border-bottom: 1px solid rgba(159, 159, 159, 0.3);
    width: 60%;
    margin: auto;
    padding: 1rem 0rem;
  }
  footer section .container-nav-footer .caja-tienda .title-nav {
    text-align: center;
  }
  footer section .container-nav-footer .caja-tienda ul li {
    text-align: center;
  }
  footer section .container-nav-footer .caja-empresa {
    border-bottom: 1px solid rgba(159, 159, 159, 0.3);
    width: 60%;
    margin: auto;
    padding-bottom: 1rem;
  }
  footer section .container-nav-footer .caja-empresa .title-nav {
    text-align: center;
  }
  footer section .container-nav-footer .caja-empresa ul li {
    text-align: center;
  }
  footer section .container-nav-footer .caja-redes {
    border-bottom: 1px solid rgba(159, 159, 159, 0.3);
    width: 60%;
    margin: auto;
    padding-bottom: 1rem;
  }
  footer section .container-nav-footer .caja-redes ul {
    justify-content: center;
  }
}

/*# sourceMappingURL=main.css.map */
