main{
    width: 100%;
    section{
        .title-producto {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            height: auto;
            .title-text {
                font-family: $ff-terceary;
                color: $clr-sexto;
                font-size: $fs-segundo;
                font-weight: weight(regular);
                text-align: center;
            }
        }
        .container-cards{
            width: 100%;
            display: flex;
            flex-direction: column;
            .container-title{
                        padding-top: 1rem;
                        padding-bottom: 2rem;
                        .title-categoria{
                            text-align: center;
                            font-family: $ff-terceary;
                            font-weight: weight(regular);
                            font-size: $fs-segundo;
                            }
                        } 
            .caja-cards{
                width: 100%;
                max-width: 1080px;
                display: grid;
                grid-template-columns: repeat(4,1fr);
                grid-template-rows: repeat(2,1fr);
                padding: 0rem 2rem;
                padding-bottom: 8rem;
                row-gap: 7rem;
                column-gap: 1rem;
                margin: auto;
                .cards{
                    position: static;
                    flex-wrap: wrap;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 1.2px;
                    border: none;
                    background-color: #fff;
                    border-radius: 0.25rem;

                    &:hover {
                        box-shadow: rgba(36, 36, 36, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
                        cursor: pointer;
                        transition: all 0.2s ease-in-out;
                    }
                    .container-img{
                        @include flex-center(column);
                        border-bottom: 1px solid $bg-soft;
                        .card-img{
                            padding: 0.5rem;
                        }
                        .caja-bag{
                            width: 2.1rem;
                            @include flex-center(column);
                            background-color: $bg-tercero;
                            border-radius: 1rem;
                            &:hover{
                                box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
                                cursor: pointer;
                                transition: all 0.2s ease-in-out;
                                color: $bg-tercero;
                                background-color: $bg-segundo;
                                padding: .5rem;
                            }
                            .img-bag{
                                justify-content: center;
                                align-items: center;
                                width: 1rem;
                                height: 1.5rem;
                            }
                            
                        }
                    }
                    .card-info{
                        display: flex;
                        justify-content: space-between;
                        padding: 1rem;
                        width: 100%;
                        .card-info-p{
                            padding: 0.5rem 0rem;
                            gap: 1rem;
                            display: flex;
                            flex-direction: column;
                            .info-n{
                                font-family: $ff-terceary;
                                color: $clr-quinto;
                                font-size: $fs-quinto;
                                font-weight: weight(regular);
                            }
                            .info-p{
                                font-family: $ff-quarteary;
                                font-size: $fs-quinto;
                                font-weight: weight(medium);
                                color: $clr-sexto;
                            }
                        }
                        .card-info-buttons {
                            @include flex-around(column);
                            padding: 0.5rem 0rem;
                            .card-icon{
                                display: flex;
                                align-items: flex-end;
                                &:hover{
                                    color: $bg-segundo;
                                    transition: all 0.2s ease-in-out;
                                }
                            }
                            .caja-bag{
                                width: 2.1rem;
                                @include flex-center(column);
                                color: $clr-tercero;
                                border-radius: 50%;
                                &:hover{
                                    cursor: pointer;
                                    transition: all 0.2s ease-in-out;
                                    color: $bg-segundo;
                                }
                            }
                        }   
                    }
                }
                .caja-ver-mas{
                    background-color: $bg-redes;
                    width: 6rem;
                    padding: 0.5rem;
                    transition: all 0.2s ease-in-out;
                    cursor: pointer;
                    &:hover{
                        background-color: $bg-tercero;
                    }
                    .enlace-ver-mas{
                        text-decoration: none;
                        .p-ver-mas{
                            text-align: center;
                            color: $clr-primero;
                            &:hover{
                                color: $clr-sexto;
                            }
                        }
                    } 
                }
            }
        }
    }    
}