header{ 
    position: fixed;
    z-index: 0;
    top: 0;
        // position: fixed;
        width: 100%;
        .cartel-envio{
            width: 100%;
            background-color: $clr-tercero;
            font-family:$ff-terceary;
            text-align: center;
            color: $clr-primero;
                .cartel-p{
                    font-size: 0.8rem;
                }
        }
        // .container-logo{
        //     background-color: $bg-tercero;
        //     width: 100%;
        //     padding-top: 1rem;
        //     padding-bottom: 1rem;
        //     display: flex;
        //     justify-content: center;
        //     .link-logo{
        //         width: 5rem;
        //         height: 5rem;
        //         border-radius: 50%;
        //         .logo{
        //             width: 5rem;
        //             height: 5rem;
        //             border-radius: 50%;
        //         }
        //     }    
                
        // }
        
        .navbar{
            display: flex;
            justify-content: end;
            background-color: $bg-tercero;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            div {
                .link-logo{
                    width: 5rem;
                    height: 5rem;
                    border-radius: 50%;
                    .logo{
                        width: 3rem;
                        height: 3rem;
                        border-radius: 50%;
                    }
                } 
            }
            .navbar-toggler{
                color: transparent;
                background-color: transparent;
                border-color: transparent;
                // border: 1px solid $bg-tercero;
                &:hover{
                color: $bg-tercero;
                transition: all 0.2s ease-in-out;
                
                }
            }
                .offcanvas-header{
                    background-color: $bg-tercero;
                }
                .offcanvas-body{
                        background-color: $bg-tercero;
                        .navbar-nav{
                            font-family: $ff-terceary;
                            .nav-item{
                                color: #000;
                                .nav-link dropdown-toggle{
                                    .dropdown-menu{
                                        border-color: #000;
                                        
                                        }
                                }
                                }
                                
                        }
                    }

                        
                
        }
}
// header {
//         .cartel-envio {
//             background-color:$cartel-envio;
//             width:100vW;
//             @include flexible(flex , center);
//                 .cartel-p{
//                     font-size: 0.8rem;
//                     text-align: center;

//                 }
//         }
//         .container-logo{
//             background-color: $caja-logo;
//             width: 100vw;
//             height: auto;
//             @include flexible(flex, center);
//             box-shadow: -2px -6px 18px -1px rgba(126,97,215,0.71);
//             -webkit-box-shadow: -2px -6px 18px -1px rgba(126,97,215,0.71);
//             -moz-box-shadow: -2px -6px 18px -1px rgba(126,97,215,0.71);
//         }
//         .logo{
//             width: 60px;
//             height: 60px;
//             margin-top: $medida-px;
//             margin-bottom: $medida-px;
//             @include flexible(flex, center);
//             }

//         .navbar{
//             background-color:rgba(103, 111, 224, 0.705);
//             box-shadow: -3px 4px 9px -1px rgba(126,97,215,0.71);
//             -webkit-box-shadow: -3px 4px 9px -1px rgba(126,97,215,0.71);
//             -moz-box-shadow: -3px 4px 9px -1px rgba(126,97,215,0.71);
//             }
//             .container-fav{
//                 margin-left: 20px;
//                 display: map-get($usadas,"flex");
//                 gap: $medida-px;
                
//             }   
//             .enlace{
//                 text-decoration-line: none;
//                 color:$caja-logo ;  
//                 }
//         .container-log{
//             display: map-get($usadas,"flex");
//             margin-right: 30px;
//             gap: $medida-px;
//         }    
                
            
// }
