header{ 
    position: static;
    z-index: 0;
    top: 0;
    width: 100%;
    .cartel-envio{
        width: 100%;
        background-color: $clr-tercero;
        font-family:$ff-terceary;
        text-align: center;
        color: $clr-primero;
        .cartel-p{
            font-size: $fs-septimo;
        }
    }
    .navbar{
        display: flex;
        justify-content: end;
        background-color: $bg-tercero;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        div {
            .link-logo{
                width: 5rem;
                height: 5rem;
                border-radius: 50%;
                .logo{
                    width: 3rem;
                    height: 3rem;
                    border-radius: 50%;
                }
            } 
        }
        .navbar-toggler{
            color: transparent;
            background-color: transparent;
            border-color: transparent;
            &:hover{
            color: $bg-tercero;
            transition: all 0.2s ease-in-out;
            }
        }
        .offcanvas-header{
            background-color: $bg-tercero;
        }
        .offcanvas-body{
            background-color: $bg-tercero;
            .navbar-nav{
                font-family: $ff-terceary;
                .nav-item{
                    color: #000;
                    .nav-link dropdown-toggle{
                        .dropdown-menu{
                            border-color: #000;
                        }
                    }
                }
                    
            }
        }
    }
}