// 
// 
// PREDETERMINADOS

@media (max-width: $tablet) {
    .contenedor-cards {
        grid-template-columns: repeat(2,1fr) !important;
    }

    .caja-cards{
        grid-template-columns: repeat(2,1fr) !important;
    }

    footer {
        section {
            .container-info {
                display: grid !important;
                grid-template-columns: repeat(2,1fr);
                grid-template-rows: repeat(2,1fr);
                grid-gap: 1rem;

                .caja-info {
                    width: 100% !important;
                }
            }
        }
    }
}

@media (max-width: $mobile) {    
    .contenedor-cards {
        grid-template-columns: repeat(1,1fr) !important;
    }
    .caja-cards{
        grid-template-columns: repeat(1,1fr) !important;
    }

    

    

    .link-wpp{
        .wpp{
            display: none;
        }
    }

    .caja-home{
        height: 100%;
    }


    footer {
        section {
            .container-info {
                grid-template-columns: repeat(1,1fr);
                grid-template-rows: repeat(4,1fr);
                grid-gap: 1rem;
            }
            
            .container-nav-footer {
                flex-direction: column;
                .caja-tienda {
                    ul {
                        li {
                            text-align: center;
                        }
                    }
                }
                .caja-empresa {
                    ul {
                        li {
                            text-align: center;
                        }
                    }
                }

                .caja-redes {
                    ul {
                        justify-content: center;
                    }
                }
            }
        }
    }
}

// 
// 
// EXCEPCIONES

@media (max-width: 576px) {
    
}

@media (max-width: 1018px){
    .caja-ig{
        .ig{
            .text-ig{
                font-size: $fs-quinto;
                text-align: center;
            }
            
        }
    }
}

@media (max-width: 350px){
    .cartel-p{
        display: none;
    }
}

