// PREDETERMINADOS
@media (max-width: $tablet) {
    .contenedor-cards {
        grid-template-columns: repeat(2,1fr) !important;
    }

    .caja-cards{
        grid-template-columns: repeat(2,1fr) !important;
    }

    .cuidados {
        .title {
            .title__info {
                font-size: $fs-primero;
            }
            .title__img {
                width: 128px;
            }
        }
        .faq {
            .faq-title {
                .faq-title__info {
                    font-size: $fs-tercero;
                    font-weight: weight(medium);
                }
            }
            .faq-parrafo {
                ul {
                    li {
                        .faq-parrafo__info {
                            font-size: $fs-sexto;
                        }
                    }
                }
            }
        }
    }
        
    .container-info {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-gap: 1rem;

        .caja-info {
            width: 100%;
        }
    }
}

@media (max-width: $mobile) {
    
    .beneficios {
        display: none;
    }

    .heroSection {
        padding-top: 4rem;
        display: none;
    }

    .cuidados {
        .title {
            .title__info {
                width: 100%;
            }
            .title__img {
                display: none;
            }
        }
    }

    .contenedor-cards {
        grid-template-columns: repeat(1,1fr) !important;
    }
    .caja-cards{
        grid-template-columns: repeat(1,1fr) !important;
    }

    .link-wpp{
        .wpp{
            display: none;
        }
    }
            
    .container-ig {
        .caja-texto {
            .comunidadTexto {
                font-size: $fs-quinto;
                display: none;
            }
        }
    }
    .container-info {
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(4,1fr);
        grid-gap: 1rem;
    }
    
    footer {
        section {
            .container-nav-footer {
                flex-direction: column;
                row-gap: 2rem;
                .caja-tienda {
                    border-top: 1px solid $bg-soft;
                    border-bottom: 1px solid $bg-soft;
                    width: 60%;
                    margin: auto;
                    padding: 1rem 0rem;
                    .title-nav {
                        text-align: center;
                    }
                    ul {
                        li {
                            text-align: center;
                        }
                    }
                }
                .caja-empresa {
                    border-bottom: 1px solid $bg-soft;
                    width: 60%;
                    margin: auto;
                    padding-bottom: 1rem;
                    .title-nav {
                        text-align: center;
                    }
                    ul {
                        li {
                            text-align: center;
                        }
                    }
                }
        
                .caja-redes {
                    border-bottom: 1px solid $bg-soft;
                    width: 60%;
                    margin: auto;
                    padding-bottom: 1rem;
                    ul {
                        justify-content: center;
                    }
                }
            }
        }
    }
}