@function weight ($weight-name) {
    @return map-get($font-weight, $weight-name);
}

@mixin flex-center($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
    align-content: center;
}

@mixin flex-around($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}